h1 {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Monaco", Monospace;
  }
  

h3 {background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Papyrus", fantasy;
}

#second {
    color:rgb(186, 19, 186);
}

#map {
    height: 400px;
    width:100%;
}

body {
    background-color: rgb(187, 248, 243) !important; 
  }
  
  .navbar {
    background-color: #d7edab; /* replace with desired color */
  }
  
  .drop-cap::first-letter {
    color: #ffa200;
    font-family: Georgia, serif;
    font-size: 3em;
    line-height: 1;
    padding-top: 0.1em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    float: left;
  }
  
  body {
    height: 100%;
    /* padding-bottom: 120px; assuming footer height is 60px */
  }
  
  footer {
    height: 120px;
  }
  
.uchicago-img {
    width: 200px;
    height: auto;
  }

.wordmark-wrapper {
    padding: 10px;
  }
  


