h1 {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Monaco", Monospace;
  }
  

h3 {background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Papyrus", fantasy;
}

#second {
    color:rgb(186, 19, 186);
}

#map {
    height: 400px;
    width:100%;
}

body {
    background-color: rgb(187, 248, 243) !important; 
  }
  
  .navbar {
    background-color: #d7edab; /* replace with desired color */
  }
  
