h1 {
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Rockwell", Rockwell;
}

.container {
    margin-top: 20px;
    text-align: center;
  }
  
  footer {
    height: 50px; /* change this value to set the desired height */
  }
  

  body {
    padding-bottom: 50px; /* change this value to match the height of your offcanvas */
  }